body { background: none !important; }
a { color: #007FFF !important; }
a.btn-primary { color: #FFF !important; }
div.navbar { border-top: 5px solid #337AB7 !important; }
.navbar-brand { color: #FFFFFF !important; }
